<ng-container *ngIf="role=='admin'">
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
  <h4>Affecter Manager User:</h4>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for=users>
          Users:
        </label>
        <select id="users" class="form-control" name="users" ngModel >
                    <option></option>
                        <option *ngFor="let user of users">
                        {{user.nom}} {{user.prenom}}  
                        </option>
        </select>
    </div>
      <div class="form-group">
        <label for=managers>
          Managers:
        </label>
        <select id="managers" class="form-control" name="managers" ngModel >
            <option></option>
            <option *ngFor="let manager of managers">
            {{manager.nom}} {{manager.prenom}}  
            </option>
        </select>
    </div>
      <button class="btn btn-primary"  type="submit">Enregistrer</button>
      <p *ngIf="invalid==true">ERREUR </p>
    </form>
  </div>
</div>
<br>



<h4> Users/Managers:</h4>
            <table class="redTable"   border="1">
              <thead>
              <tr>
                <th>Users</th>
                <th>Managers</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-container *ngFor="let user of users">
                    <td>
                            {{user.nom}} {{user.prenom}} 
                    </td>
                    <td>
                       <ng-container *ngIf="user.manager!=null">
                           {{user.manager.nom}} {{user.manager.prenom}} 
                          </ng-container>
                    </td>
                </tr>
              </tbody>
            </table>
</ng-container>