<ng-container *ngIf="role=='manager'">

<h4>Ajouter Projet:</h4>
    
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="nom">
                  Nom:
                </label>
                <input type="text" id="nom" class="form-control" name="nom" ngModel>
            </div>
            <button class="btn btn-primary"  type="submit">Enregistrer</button>
            <p *ngIf="invalid==true">ERREUR </p>
          </form>
        </div>
      </div>
    

<br>


<h4>Projets:</h4>

<table class="redTable" border="1">
    <thead>
      <tr>
        <th>Projets</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let manager of managers">
                <ng-container *ngIf="manager.login==username">
                    <tr *ngFor="let pro of manager.projets">
                             {{pro.nom}} 
                        </tr>
                    </ng-container>
        </ng-container>
    </tbody>
      </table>

</ng-container>