h1 {
	margin: .8077em 0 0 0;
    text-align: center;
    color: #d61212;;
    font: italic small-caps bold 40px cursive;

}

h2{
	line-height: 1.6154em;
	margin: .8077em 0 0 0;
    text-align: center;
    color: rgb(49, 49, 233);
	font: italic small-caps bold 20px cursive;
}

h3{
	margin-left: 5px;
    margin-top: 30px;
    font-size: 18px; 
	color: rgb(52, 126, 18);
	font: italic small-caps bold 18px cursive;
}

p{
	margin-top: 20px;
	margin-left: 5px;
	font:  small-caps bold 15px cursive;
}

