<h1>Application de saisie de temps</h1>

<h2>Application web permettant la saisie, la consultation, l’édition des temps dans une entreprise de développement.</h2>

<h3> Fonctionnalités demandées:</h3>
<p>En tant qu’utilisateur, on peut se connecter via un Login / Password (les profils supportés sont Admin, Manager, User)</p>
<p>En tant que User, on peut saisir ses temps, à la granularité de l’heure (choix projet + temps)</p>
<p>En tant que User, on peut éditer un compte-rendu mensuel (export PDF)</p>
<p>En tant que Manager, on peut consulter les temps saisis par les Users qui lui sont rattachés</p>
<p>
    En tant que Manager, on peut éditer les compte-rendus mensuels des Users qui lui sont rattachés (export PDF)
    </p>
<p>En tant que Manager, on peut saisir des projets</p>
<p>En tant que Manager, on peut saisir de nouveaux Users qui lui seront rattachés</p>
<p>En tant qu’Admin, on peut changer le statut d’un User (Manager / Admin)</p>
<p>En tant qu’Admin, on peut changer l’affectation d’un User (changement de Manager)</p>
<p>En tant qu’utilisateur non authentifié je ne peux pas solliciter l’API (excepté pour m’authentifier)
</p>
<p>En tant que User, on peut saisir son CRA(compte rendu d’activité) en mode déconnecté (avec les projets sur lesquels on a déjà imputé). La synchro se fera automatiquement lorsque l’on retrouvera du réseau.
</p>